name: Build HTML/CSS Docker App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t employee-app:latest .

      - name: List Docker images
        run: docker images

      - name: List running containers
        run: docker ps -a
